@import '../App.css';

.slide-out-container {
    display: inline-flex;
    width: 100%;
    .side-window {
        width: 47%;
    }
    
    .slide-out {
        width: 53%;  
        border: solid 1px #e8e8e8;
        border-left: none;
        .close {
            padding-right: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .hidden {
        display: none;
    }
}

.slide {
    &-appear {
        
        &-active {
            animation: run-in 3s forwards;
        }
    }
    &-enter {
        &-actve {
            animation: run-in 3s forwards;
        }
    }
}

@keyframes run-in {
    0% {
        opacity: 0;
        transform: translateX(-40%);
        transition: all 3s ease-in;
    }
    100% { 
        opacity: 1;
        transform: translateX(0%); 
    }
}