@import '../App.css';

.slide-out-container {
    display: inline-flex;
    width: 100%;
    .side-window {
        width: 47%;
    }
    
    .slide-out {
        width: 53%;  
        border: solid 1px #e8e8e8;
        border-left: none;
        .close {
            padding-right: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .hidden {
        display: none;
    }
}

.slide {
    &-appear {

        &-active {
            animation-name: run;
            animation-duration: 15s;
            animation-direction: normal;
        }
    }
    &-enter {
        &-actve {
            animation-name: run;
            animation-duration: 15s;
            animation-direction: normal;
        }
    }

    &-leave {
        &-active {
            animation-name: run;
            animation-duration: 15s;
            animation-direction: normal;
        }
    }

}

@keyframes run {
    0% {left: 0}
    100% {left: 100%}
}