@import '../App.css';

.slide-out-container {
    display: inline-flex;
    width: 100%;
    .side-window {
        width: 47%;
    }
    
    .slide-out {
        width: 53%;  
        border: solid 1px #e8e8e8;
        border-left: none;
        .close {
            padding-right: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .hidden {
        display: none;
    }
}

.slide {
    &-appear {
        
        &-active {
            animation: run-in 5s forwards;
        }
    }
    &-enter {
        &-actve {
            animation: run-in 5s forwards;
        }
    }

    &-leave {
        &-active {
           animation: run-out 5s forwards;
        }
    }

}

@keyframes run-in {
    // 0% {left: 0}
    // 100% {left: 100%}
    100% { -webkit-transform: translateX(0%); }
}

@keyframes run-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}