@import '../App.css';
.img-cat {
    height:  500px;
}

.cats {
    background-color: #e8e8e8;
    margin: 10px -20px -35px;
}

.category {
    &--input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &--label {
        font-size: 14px;
        color: darken(grey, 10);
        justify-content: end !important;
        margin-left: 5px;
    }
    &-container {
        background-color: transparent;
        color: black;
        a {
            font-style: oblique;
        }
    }
}

.btn-container {
    display: flex;
}

.btn {
    &-next {
        margin-left: 35px;
    }
    &-container {
        margin-top: 10px;
    }
}

ul {
    list-style: none;
}

@media screen and (min-width: 576px) and (max-width: 768px ) {
    .btn-container {
        flex-direction: column;
    }
}